@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.monts {
  font-family: Montserrat;
}

.muli {
  font-family: Mulish;
}

.staysIn {
  color: #333;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
